.env
exports/
other_files/
processed_files/
work_files/
tools/
_LifeLog_tests.ipynb
client_secrets.json
Untitled.ipynb
.DS_Store
__pycache__
.ipynb_checkpoints
Project_Structure.drawio.bkp
$Project_Structure.drawio.bkp
code_process.drawio
.gitignore
geckodriver.log
